<section class="container">
  <form class="login col-md-6 col-md-offset-3" ng-submit="resetPassword()" style="padding: 50px 0;">
    <div ng-show="message" class="alert {{ message.type }}">{{ message.message }}</div>
    <div ng-show="!finished">
      <div class="form-group">
        <label for="password1">New password:</label>
        <input required ng-model="password1" class="form-control" type="password" name="password1" id="password1" value="" />
      </div>
      <div class="form-group">
        <label for="password2">Confirm new password:</label>
        <input required ng-model="password2" class="form-control" type="password" name="password2" id="password2" value="" />
      </div>
      <button class="btn btn-primary" type="submit">Save new password</button>
    </div>
    <a href="/login" ng-show="finished" class="btn btn-primary">Log in</a>
  </form>
</section>
